.navbar {
  width: 100%;
  background: cornflowerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

.navbar h1 {
  margin: 0;
  padding-left: 1rem;
}

ul li {
  display: inline-block;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: gold;
}

@media (prefers-reduced-motion: no-preference) {
  .icon {
    animation: App-logo-spin infinite 60s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
